# Directus
DIRECTUS_ADMIN_TOKEN=your-directus-admin-token
NEXT_PUBLIC_DIRECTUS_URL=https://your-directus-instance.example.com
ADMIN_ROLE_ID=your-directus-admin-role-id

# App
NEXT_PUBLIC_SITE_URL=http://localhost:3000
